body{
    margin: 0;
    padding: 0;
}
.top-section{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    height: 650px;
    padding-top: 280px;
    text-align: center;
    color: white;
    font-size: 20px;
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.top-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.donate-today{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    padding-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
.style-amount{
    color: gray;
    text-align: center;
    margin-left: 10px;
    height: 80px;
    width: 120px;
    border: 3px solid gray;
    border-radius: 5px;
    padding-top: 40px;
    background-color: rgb(240, 225, 225);
}
.amount{
    color: gray;
    margin-left: 10px;
    text-align: center;
    height: 80px;
    width: 120px;
    padding-top: 40px;
    background-color: rgb(249, 249, 249);
}
.donate-amount{
    display: flex;
    padding-left: 30%;
}
.input-amount{
text-align: center;
margin-top: 20px;
margin-bottom: 5px;
border: none;
font-size: 18px;
}

.input-amount-bottom-style{
border: -1px solid gray;
margin-left: 450px;
margin-right: 390px;
}

#donate-plan-second{
    color: gray;
}
.three{
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 100px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    height: 300px;

}
.food{
    background-color: aqua;
    margin-right: 10px;
    padding-left: 10px;
    padding-top: 50px;
    border-radius: 10px;
}
.family{
background-color: aquamarine;
margin-right: 10px;
padding-left: 10px;
padding-top: 50px;
border-radius: 10px;
}
.child{
background-color: blanchedalmond;
padding-left: 10px;
padding-top: 50px;
border-radius: 7px;
}
.second-donate-now{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 15px 40px;
    border-radius: 5px;
}
.second-donate-now-aline{
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}
.extra{
display: flex;
text-align: center;
}
.extra-one{
    margin-left: 100px;
    
}
.extra-two{
    margin-left: 100px;
    
    
}
.extra-three{
    margin-left: 80px;
    margin-right: 80px;
    
    
}
.subscribe-button{
    text-align: center;
    background-color: antiquewhite;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 50px;
    margin-left: 400px;
    margin-right: 400px;
}
.email-field{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(240, 225, 225);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 10px;
    border: none;
    font-size: 18px;
    
}
.subscriber-button{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: rgb(236, 104, 104);
    border-radius: 5px;
    border: none;
    margin-left: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
}
.footer{
    text-align: center;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 30px;
}
.footer h1{
    color: red;
    font-family: 'Permanent Marker', cursive;
}
.footer p{
    color: gray;
}